body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
}

.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 2rem;
  color: #343a40;
}

h4, span {
  font-size: 1.1rem;
  color: #343a40;
  margin: 0;
}

.jumbotron {
  padding: 20px;
  background-color: #56626f;
  border-radius: 13px;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

#procurar {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border-radius: 6px 0px 0px 6px;
  border: 0px solid #ced4da;
  max-width: 300px;
}

.input-group-btn {
  margin: 0px;
}

.btn {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #c800ff;
  color: white;
  border: none;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #b300b0;
}

.wrapper {
  margin: 20px 0;
}

#Paises{
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  text-align: start;

}

.flag-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.data-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.icons {
  display: flex;
  justify-content: center;
  font-size: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.icons li {
  margin-right: 8px;
}

.icons li:last-child {
  margin-right: 0;
}

.icons li a {
  color: inherit;
  text-decoration: none;
  transition: transform 0.4s ease, color 0.4s ease;
}

.icons li a:hover {
  color: #1b3754;
  transform: scale(1.1) rotate(10deg);
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.8;
  transition: opacity 0.5s ease-in-out;
}

footer:hover {
  opacity: 1;
}

footer .icons {
  margin-bottom: 0.2em;
}

footer .copyright {
  font-size: 0.8em;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 0.2em;
}

footer .copyright li {
  display: inline-block;
  line-height: 1em;
  margin-left: 0.5em;
  padding-left: 0.5em;
  border-left: solid 1px rgba(255, 255, 255, 0.25);
}

footer .copyright li:first-child {
  border-left: none;
  margin-left: 0;
  padding-left: 0;
}

@media (max-width: 768px) {
  .input-group {
    flex-direction: column;
    align-items: center;
  }

  .input-group-btn {
    margin: 10px 0 0;
    width: 100%;
  }

  .btn {
    width: 100%;
    margin-top: 10px;
  }

  #procurar {
    margin-bottom: 10px;
  }

  footer {
    position: static;
    text-align: center;
  }
}
